<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/styles/styles.css"/>
</head>
<body>
    <nav class="navbar">
        <a href="/home">Home</a>
        <a href="/works">Works</a>
        <a href="/gallery">Gallery</a>
        <a href="/about">About</a>
    </nav>
    <h1>About the Houston Rockets</h1>
    <p class="aboutquote">The Houston Rockets are an American professional basketball franchise based in Houston, Texas. The team plays in the Southwest Division of the Western Conference in the National Basketball Association (NBA). The team was established in 1967, and played in San Diego, California for four years, before relocating to Houston. They have made the playoffs in 25 of their 42 seasons, and won their division and conference four times each; they also won back-to-back NBA championships in 1994 and 1995. They won 22 straight games during the 2007–08 season, the third-longest streak in NBA history.</p>
</body>
</html>