<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="/styles/styles.css"/>
</head>
<body>
    <nav class="navbar">
        <a href="/home">Home</a>
        <a href="/works">Works</a>
        <a href="/gallery">Gallery</a>
        <a href="/about">About</a>
    </nav>
    <div class="worksdiv">
    <h1>Accomplishments</h1>

    <h2>NBA Championships</h2>
    <ul>
        <li>1994</li>
        <li>1995</li>
    </ul>

    <h2>MVPs</h2>
    <ul>
        <li>Moses Malone - 1979 & 1982</li>
        <li>Hakeem Olaujwon - 1994</li>
        <li>James Harden - 2018</li>
    </ul>
    <h2>Finals MVPs</h2>
    <ul>
        <li>Hakeem Olaujwon - 1994 & 1995</li>
    </ul>

    <h2>Scoring Titles</h2>
    <ul>
        <li>Elvin Hayes - 1969</li>
        <li>James Harden - 2018, 2019, 2020</li>
    </ul>

    <h2>Defensive Player Of The Year</h2>
    <ul>
        <li>Hakeem Olaujwon - 1993 & 1994</li>
    </ul>
</div>
</body>
</html>